@import url('css/bootstrap/bootstrap.css');

/*Rewrite Bootstrap*/
.navbar-inverse {
	border-color: transparent;
	border-radius: 0px;
}
.navbar-inverse.top {
	background-color: #ed1c24;
	margin-bottom: 0px;
}
.navbar-inverse.bottom {
	min-height: 27px
}

.navbar-inverse.bottom .navbar-brand {
	padding: 0px;
	height: 27px
}

.img-acessados {
	height: 26px;
}

.navbar-inverse .navbar-nav > li > a {
	color : #fff;
	text-transform: uppercase;
}
.navbar-inverse.bottom .navbar-nav > li > a {
	font-size: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.navbar-inverse.top .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	background-color: transparent;	
}

.navbar-brand {
	padding: 3px 15px;
}
/* [end] Rewrite Bootstrap*/

.nopadding {
	padding: 0px;
}

.preview-bottom {
	margin-top: 30px;
}

.input-search {
	border: none;
	margin-top: 13px;
}

.more-link {
	display: none;
}

.description-post {
	position: absolute;
    bottom: 0px;
    z-index: 0;
    color: #fff;
    right: 0px;
    width: 100%;
    text-align: right;
}

.description-post .title {
	padding: 0px 10px;
	margin-top: 0px;
}

.description-post .opacity {
	background-color: #000;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    z-index: -1;
    padding: 10px 10px;
}

.description-post .category {
	text-transform: uppercase;
	display: inline-block;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 10px; 
    text-indent: 23px;
    padding-right: 10px
}
.description-post .category:before {
	content: "";
    display: block;
    position: absolute;
    top: 2px;
    width: 14px;
    height: 14px;
    background-color: #ed1c24;
    border-radius: 2px;
    padding: 5px;
}


.description-post .title {
	text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}

.preview-bottom h1 {
	font-size: 18px;
    font-weight: bold;
    margin-top: 6px;
    padding: 0px 5px;
}

.advertiser {
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 50%;
	left: -321px
}


.plus-title {
	background-color: #ed1c24;
}

.post img {
	width: 100%
}